---
// QueEs.astro - Sección "¿Qué es ZUMGO?"
---

<section class="que-es" id="que-es">
  <div class="que-es__content">
    <h2 class="que-es__title">¿Qué es ZUMGO?</h2>

    <p class="que-es__description">
      ZUMGO es la forma más sencilla de ofrecer <span class="que-es__highlight"
        >zumo de naranja 100 % natural</span
      >, recién exprimido y sin aditivos en cualquier lugar y a cualquier hora.
      Desarrollamos y operamos máquinas inteligentes que exprimen la fruta al
      momento frente al consumidor, en sólo 40 segundos, sin necesidad de
      personal ni de infraestructura adicional: basta un enchufe. Con ZUMGO
      transformamos metros cuadrados desaprovechados en experiencias saludables
      y rentables, alineadas con la creciente demanda de opciones "on the go" de
      calidad.
    </p>

    <div class="que-es__note">
      <svg width="330" viewBox="0 0 455 205" fill="none">
        <path
          d="M13.332 173.34C5.41199 173.23 0.461987 165.75 0.241987 158.38C-0.088013 150.35 3.76199 141.99 7.39199 135.06C15.092 120.87 26.862 109.32 39.732 99.8599C48.972 93.0399 58.872 87.0999 68.992 81.8199C91.762 58.7199 119.922 41.3399 149.622 28.6899C184.382 13.7299 221.452 4.59993 259.072 1.40993C296.142 -1.67007 334.422 0.639923 370.502 10.3199C387.002 14.8299 403.282 21.0999 417.912 30.1199C425.172 34.6299 432.102 39.6899 438.372 45.5199C444.422 51.2399 450.032 57.7299 452.892 65.6499C459.162 82.5899 447.392 97.7699 435.512 108.66C423.962 119.11 411.202 128.02 397.672 135.72C396.132 136.93 394.482 138.03 392.832 139.13C385.022 144.3 376.772 148.81 368.522 153.1C334.422 170.7 297.572 182.58 260.282 191.27C221.342 200.4 181.302 205.68 141.262 204.8C122.012 204.25 102.212 202.93 83.512 198.42C66.902 194.35 50.842 186.65 40.612 172.35C36.102 165.86 33.132 158.38 32.472 150.46C31.812 141.44 34.452 132.64 38.192 124.5C43.472 113.17 50.732 102.61 58.872 92.9299C56.342 94.4699 53.812 96.0099 51.392 97.5499C38.412 106.02 25.982 116.03 16.962 128.79C12.562 134.95 9.04199 141.66 6.62199 148.81C5.30199 153.1 4.09199 157.94 5.63199 162.34C6.73199 165.64 9.70199 168.5 13.332 168.61C16.412 168.61 16.412 173.34 13.332 173.34ZM80.982 192.81C84.832 193.91 88.792 194.79 92.862 195.56C82.962 193.14 73.392 189.4 64.922 183.68C57.992 178.95 50.842 172.68 49.632 163.88C48.532 155.74 51.722 147.05 54.912 139.57C60.962 125.27 70.862 112.73 82.522 102.39C107.932 79.8399 141.262 66.3099 174.372 60.3699C210.122 53.7699 247.302 55.9699 281.952 67.0799C284.922 68.0699 283.602 72.6899 280.742 71.6999C264.572 66.5299 247.852 63.2299 230.912 62.0199C196.152 59.4899 160.622 65.2099 128.612 79.1799C101.002 91.1699 74.382 110.09 60.962 137.81C57.552 144.63 54.252 152.77 54.142 160.58C54.032 169.49 61.292 175.65 68.222 180.16C81.972 189.18 98.582 192.7 114.752 194.35C152.152 197.98 190.322 194.79 227.172 187.97C264.462 181.04 300.982 170.48 336.622 157.72C356.642 150.57 376.552 142.32 395.032 131.87C397.342 130.11 399.542 128.24 401.522 126.26C407.462 120.32 412.082 112.62 412.192 104.04C412.302 96.4499 408.452 89.8499 403.172 84.6799C397.672 79.3999 390.962 75.6599 384.142 72.3599C376.002 68.2899 367.642 64.8799 359.062 61.9099C324.852 50.0299 288.442 46.0699 252.362 45.7399C217.052 45.4099 181.632 49.0399 147.312 57.5099C121.352 63.9999 95.832 73.1299 72.072 85.5599C62.502 95.3499 54.032 106.02 47.102 117.79C42.592 125.38 38.742 133.63 37.532 142.43C36.432 150.35 37.972 158.27 41.822 165.31C49.962 180.05 65.142 188.41 80.982 192.81ZM193.512 197.87C231.242 194.02 268.642 185.66 304.722 174.11C314.182 171.03 323.422 167.73 332.662 164.1C317.922 169.27 302.962 174.11 287.892 178.4C253.902 188.19 219.032 195.56 183.832 198.75C187.022 198.42 190.322 198.2 193.512 197.87ZM114.532 52.0099C103.642 58.7199 93.192 66.3099 83.512 74.7799C83.952 74.5599 84.502 74.3399 84.942 74.1199C118.382 58.8299 154.132 49.3699 190.432 44.6399C227.282 39.7999 264.902 39.4699 301.752 44.0899C320.452 46.5099 338.932 50.2499 356.862 56.0799C365.772 59.0499 374.462 62.4599 382.932 66.4199C390.302 69.9399 397.562 73.6799 403.832 78.9599C409.552 83.6899 414.392 89.8499 416.152 97.1099C418.242 105.47 416.042 114.16 411.642 121.31C411.532 121.42 411.422 121.53 411.312 121.64C416.702 118.01 421.982 114.05 426.932 109.87C438.372 100.19 453.552 86.3299 449.152 69.6099C447.172 61.6899 441.562 55.1999 435.732 49.6999C429.792 43.9799 423.192 39.0299 416.152 34.6299C387.332 16.6999 352.792 9.32992 319.352 6.35992C282.612 3.05993 245.432 5.69992 209.572 14.0599C176.242 21.7599 143.682 34.0799 114.532 52.0099Z"
          fill="#09432E"></path>

        <text x="240" y="102.5" class="que-es__note-text">
          <tspan x="240" dy="10">Bienvenido a la revolución</tspan>
          <tspan x="228" dy="30">del zumo sin esperas</tspan>
        </text>
      </svg>
    </div>
  </div>
</section>

<style>
  @import url('./QueEs.css');
</style>
