---
// CTA.astro - Call to Action section
import ZumgoButton from '../ZumgoButton/ZumgoButton.astro'
---

<section class="cta">
  <div class="cta__content">
    <h2 class="cta__title">
      Es ahora o nunca.<br />
      Sé pionero en España.
    </h2>

    <ZumgoButton variant="yellow" href="#contacto">
      Contacta con nosotros
    </ZumgoButton>
  </div>

  <!-- Elementos flotantes específicos del CTA -->
  <div class="cta__floating cta__floating--oranges-left">
    <img src="/images/cta-oranges-left.jpg" alt="Naranjas" loading="lazy" />
  </div>

  <div class="cta__floating cta__floating--oranges-right">
    <img src="/images/cta-oranges-right.jpg" alt="Naranjas" loading="lazy" />
  </div>
</section>

<style>
  @import url('./CTA.css');
</style>

<script>
  import './CTA.js'
</script>
